<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349145166314-a7puoeo58g10ibn02pnf4qs5lug3gi3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349145166314-a7puoeo58g10ibn02pnf4qs5lug3gi3u</string>
	<key>API_KEY</key>
	<string>AIzaSyCZhGAScd6Cf4sXYHDT8T0O2uLOKQvtBz8</string>
	<key>GCM_SENDER_ID</key>
	<string>349145166314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pranyes.pranyes</string>
	<key>PROJECT_ID</key>
	<string>pranyes-f6823</string>
	<key>STORAGE_BUCKET</key>
	<string>pranyes-f6823.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349145166314:ios:d7165f5d6eaf19d6bb0293</string>
</dict>
</plist>